<h2>Welcome <%= session[:name] %>!</h2>

<h3>
Please enjoy the below secret:
<br>
<b><i>The Konami Code!</i></b>
</h3>

<img src="https://ringsandcoins.com/wp-content/uploads/2015/08/konamiblog-konamicode-3-800x445.png" alt="The Konami Code">

<br> <br>

<%= link_to 'Log Out', logout_path, method: "post" %>